.button1 {
    height: 2rem;
    background-color: black;
    color: white;
    position: absolute;
    width: 8rem;
    height: 3rem;
    margin-top: -7rem;
    border-radius: 10px;
    margin-left: 10rem;
    font-size: 12px;
}

.button2 {
    height: 2rem;
    background-color: black;
    color: white;
    position: absolute;
    width: 8rem;
    height: 3rem;
    margin-top: -3rem;
    border-radius: 10px;
    margin-left: 10rem;
    font-size: 12px;
}