.page {
    background-color: #dee2db;
    height: 105vh;
    margin-top: -2rem;
    margin-left: -1rem;
    margin-right: -5rem;
}

.page a {
    color: black;
    margin-top: 2rem;
    margin-right: 2rem;
}
.content {
    position: absolute;
    margin-left: 5rem;
    margin-top: 5rem;
}